.form, .screens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 0;
    text-align: center;
    width: 90px;
    height: 90px;
    font-size: 20px;
    font-weight: bold;
}

#input, #output {
    text-align: center;
    margin-bottom: 10px;
    pointer-events: none;
    font-size: 20px;
}
#input {
    width: 532px;
    padding: 15px 0;
}
#output {
    height: 200px;
    padding-top: 25px;
    resize: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    line-height:20px;
}
::-webkit-input-placeholder { /* Webkit */
    line-height:20px;
}
:-ms-input-placeholder { /* IE */
    line-height:20px;
}

.operands {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.operators {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
}