.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error__text, .error .try-again {
  color: red;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.error .try-again {
  color: green;
}