@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #606060;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1240px;
    margin: 0 auto;
}

.wrapper, header, main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    flex-direction: column;
}

header {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 25px 0 25px 0;
}

header > .header__title {
    font-size: 24px;
    font-weight: 400;
}

main > img {
    margin-right: 15px;
}

main > img:last-child {
    margin-right: 0px;
}

footer {
    margin-top: 25px;
}

footer > h2 {
    font-weight: 400;
}