.main__heading, .main__subtitle  {
    letter-spacing: .2rem;
    margin-bottom: 15px;
}
.main__heading > span, .main__subtitle > span {
    color: black;
    font-weight: bold;
}
.main__input {
    font-size: 20px;
    padding: 15px 25px;
    border-color: #ffffff00;
    border-radius: 10px;
}
.main__input::placeholder {
    font-size: 20px;
}
.main__answer {
    margin-top: 20px;
    margin-bottom: 20px;
}
.main__output {
    text-align: center;
    padding: 20px;
    background: transparent;
	border: 2px solid #999;
    border-radius: 1.2rem;
    font-size: 20px;
    resize: none;
    outline: none;
	-moz-appearance: none;
    pointer-events: none;
}