.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login, .pass, .button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login, .pass {
    &__input {
        border: 1px solid black;
        font-size: 16px;
        padding: 20px 40px;
        margin-bottom: 10px;
    }
}
.button {
    margin-top: 10px;
    button {
        border: 1px solid #ccc;
        background-color: black;
        color: white;
        padding: 15px 30px;
        border-radius: 10px;
        font-size: 20px;
        &:hover {
            cursor: pointer;
        }
        &:active {
            opacity: .7;
        }
    }
}